.below-header {
    margin-top: 25px !important;
}

.bkgr-1 {
    color: white;
}

.bkgr-2 {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

.bkgr-2-no-border {
    background-color: #f3f3f3;
}

.body-div {
    padding: 2px 50px;
}

.button {
    cursor: pointer;
}

.clean-box {
    margin-bottom: 20px;
    max-width: 850px;
    padding: 10px 20px;
}

.contact-form {
    align-items: center;
    margin: 1.5rem 20vw;
    text-align: center;
}

.contact-p {
    padding-left: 75px;
    padding-right: 75px;
}

.container {
    display: grid;
    grid-row-gap: 40px;
    padding: 25px;
}

.container-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.container-4-col {
    grid-template-columns: repeat(4, 1fr);
}

.course-bkgr-green {
    background-color: #88c45e;
}

.course-bkgr-yellow {
    background-color: #ddb781;
}

.course-bkgr-red {
    background-color: #d46d6c;
}

.course-grid {
    border-color: black;
    border-style: solid;
    color: black;
    margin: 0;
    padding: 2px;
}

.course-table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border-style: solid;
    border-color: black;
}

.bolder {
    font-weight: bolder;
}

.fw-normal {
    font-weight: normal;
}

.reference > sup {
    font-size: 80%;
    font-style: normal;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
}

.reference > a:link {
    text-decoration: none;
}
  
.top-a {
    color: #666;
    display: block;
    font-weight: 600;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    text-align: center;
    text-decoration: none;
}

.top-a:hover {
    background-color: #ddd;
    color: #666;
}

.top-li {
    float: right;
    padding-right: 15px;
}
  
.top-logo {
    float: left;
    margin: 0, 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.top-nav {
    padding-top: 56px;
}

.top-ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.video-player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-player-container { 
    margin-bottom: 20px;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}

@media screen and (max-width:450px) {
    .contact-form {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .contact-p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .side-a {
        color: #818181;
        display: block;
        font-size: 30px;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        transition: 0.3s;
        white-space: nowrap;
        width: 100%;
    }

    .side-a:hover {
        background-color: #ddd;
        color: #666;
    }

    .side-li {
        align-items: center;
        display: flex;
        height: 12.5vh;
    }

    .mobile-logo {
        display: inline;
        font-size: 32px;
        padding-left: 15px;
    }

    .side-logo:hover {
        color: #818181;
    }

    .side-nav {
        font-size: 18px;
        height: 100%;
        position: fixed;
        right: 0;
        text-align: center;
        top: 56;
        transition: 0.5s;
        width: 0;
        z-index: 2;
    }

    .side-span {
        color: #818181;
        display: inline;
        float: right;
        font-size: 36px;
        padding-right: 15px;
    }

    .mobile-topbar {
        padding-bottom: 4px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        transition: 0.5s;
        width: 100%;
        z-index: 2;
    }

    .side-ul {
        padding-left: 0 !important;
        padding-top: 60px;
        text-decoration: none;
    }
}

/* BEGIN Toggle Switch borrowed from https://www.w3schools.com/howto/howto_css_switch.asp 
    Manually adjusted to a smaller size.
The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    z-index: 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* END Toggle Switch */